#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.alloc-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1em;
}

.alloc-button {
  background-color: rgb(38, 9, 165);
  margin: 0 .2em;
  height: 3em;
  width: 9em;
}

.input-bits {
  height: 1em;
  width: 2em;
  margin: 1em 0;
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  margin-left: .1em;
  margin-right: .2em;
}


.authors {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-family: 'Lobster', cursive;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: red;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.error-msg {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 1em;
}


.allocation-container {
  margin: 1em;
  height: 60em;
  padding: 1em;
  width: 12em;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 0;
  border: 1px solid white;
  border-radius: .75em;
}