.box {
    border: 1px solid;
    height: 8em;
    width: 12em;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: .1em;
}


.box:hover {
    background-color:rgb(11, 99, 129) ;
    border-color: rgb(75, 67, 64);
}

.box-content {
    font-size: 1.5em;
    user-select: none;
}


.selected-box{
  background-color: darkolivegreen;
}

.highlighted-box {
  background-color: rgb(11, 99, 129) !important;
}